body {
  margin: 0;

  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Press Start 2P';
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('./images/urban.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  height: 40px;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  margin: 0 auto;
  /* background-color: black; */
  backdrop-filter: blur(100px);
  font-family: inherit;
  @media only screen and (min-width: 760px) {
    height: 90vh;
    width: auto;
  }
}
