body {
  margin: 0;

  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Press Start 2P';
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('./images/urban.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  background: rgb(255, 132, 0);
  background: radial-gradient(
    circle,
    rgba(255, 132, 0, 1) 0%,
    rgba(255, 246, 144, 1) 100%
  );
  height: 40px;
  width: 100vw;
  display: inline-block;
  margin-bottom: 8px;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 4px solid rgb(0, 0, 0);
  margin: 0 auto;
  background-color: black;
  font-family: inherit;
  @media only screen and (min-width: 760px) {
    height: 90vh;
    width: auto;
  }
}

button {
  padding: 20px;
  margin: 0;
  width: 60px;
  border-radius: 100%;
  rotate: 315deg;
  transition: linear 100ms;
  &:active {
    background-color: rgb(93, 103, 103);
  }
}

.PAD {
  list-style: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 160px;
  rotate: 45deg;
  @media only screen and (min-width: 760px) {
    display: none;
  }
}
.buttonPAD {
  padding: 0;
  margin: 0;
}
